{{- if .Site.Params.comments }}
<div class="comments">
    <script src="https://giscus.app/client.js"
        data-repo="howardatri/howardatri.github.io"
        data-repo-id="R_kgDOOFjR0w"
        data-category="Announcements"
        data-category-id="DIC_kwDOOFjR084DB-sj"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme-preferred-scheme="dark"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
    </script>
</div>
{{- end }}
